*.classpath
*.project
*.settings
.idea/
/build/*
/dist/*
/bin/*
/target/*
/out/*
*.class
*.iml

nbproject/private/
##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store